
body {
    background-color: #dadada;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav li {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active),.user-dropdown:hover .dropbtn {
    background-color: #111;
}

.active {
    color: #7aa0c8;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropdown-content a:hover {background-color: #f1f1f1;}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

table {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 80px;
}

td, th {
    border: 1px solid #dadada;
    border-radius: 8px;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: rgba(122, 160, 200, 0.4);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7aa0c8;
    color: white;
}